@import "tailwindcss";
@font-face {
      font-family: Nova;
      src: url(../fonts/primary.ttf);
}
@font-face {
      font-family: Fancy;
      src: url(../fonts/fancy.ttf);
}
@font-face {
      font-family: Astralaga;
      src: url(../fonts/astralaga.ttf);
}
@font-face {
      font-family: Search;
      src: url(../fonts/search.ttf);
}
@theme {
      --font-Nova: "Nova";
      --font-alliance: "Alliance";
      --font-fancy: "Fancy";
      --font-Astralaga: "Astralaga";
      --font-Search: "Search";
}
