@import "tailwindcss";
.column {
      column-width: 250px;
}
@font-face {
      font-family: Nova;
      src: url(../fonts/primary.ttf);
}
@font-face {
      font-family: Alliance;
      src: url(../fonts/alliance.ttf);
}
@font-face {
      font-family: Fancy;
      src: url(../fonts/fancy.ttf);
}
@font-face {
      font-family: Astralaga;
      src: url(../fonts/astralaga.ttf);
}
@theme {
      --font-Nova: "Nova";
      --font-alliance: "Alliance";
      --font-fancy: "Fancy";
      --font-Astralaga: "Astralaga";
}
