@import "tailwindcss";
@font-face {
      font-family: Nova;
      src: url(../fonts/primary.ttf);
}
@font-face {
      font-family: Fancy;
      src: url(../fonts/fancy.ttf);
}
@font-face {
      font-family: Astralaga;
      src: url(../fonts/astralaga.ttf);
}
@font-face {
      font-family: Search;
      src: url(../fonts/search.ttf);
}
.overlay {
      background: #f4f4f5;
      background: linear-gradient(0deg, rgba(244, 244, 245, 0.95) 0%, rgba(244, 244, 245, 0.95) 20%, rgba(244, 244, 245, 0.9) 45%, rgba(244, 244, 245, 0) 50%, rgba(244, 244, 245, 0.9) 55%, rgba(244, 244, 245, 0.95) 81%, rgba(244, 244, 245, 0.95) 100%);
}
@theme {
      --font-Nova: "Nova";
      --font-fancy: "Fancy";
      --font-Astralaga: "Astralaga";
      --font-Search: "Search";
}
